.event{
    background-color: rebeccapurple;
    width: 300px;
    border-radius: 40px;
    transition: all;
    margin: 20px
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start ;
}

.deleteButton{
    font-size: small;
    background-color: red;
    border-radius: 50px;
    margin: 30px;
}

.element{
    padding : 10px;
    font-size: large;
}